.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
}
