.img-style {
  height: 60px;
  width: 80px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.links-container {
  display: flex;
  width: 8%;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: space-between;
  align-items: center;
}
.home-style {
  text-decoration: none;
}
.login-style {
  text-decoration: none;
}
.btn-style {
  background-color: blue;
  color: white;
  border-style: solid;
  border-radius: 8px;
  border-width: 0px;
  height: 28px;
  width: 136px;
}
