.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 18px;
  background-color: grey;
  height: 35%;
  width: 20%;
}
.btn-cont {
  margin-top: 5px;
  height: 28px;
  width: 100%;
  background-color: blue;
}
.logo-container {
  height: 50px;
  width: 50px;
}
.logo {
  background-color: aqua;
  align-self: center;
  padding: 7px;
}
